

@media screen and (max-width: 455px){
    .card{
        width: 200px !important;
    }
    .card.profile::before {
        visibility: hidden;
    }
    .card.completed::after {
       visibility: hidden;
      }
    .container{
        padding: 1em;
        max-width: 100%;
    }
}
@media screen and (max-width: 500px){
    body>*{
        font-size: 1em;
    }
    .sidebar{
        width: 100% !important;
    }
    .unit-content-outer{
        width: 100% !important;
    }
}
@media screen and (max-width: 530px){
    .null-button{
       width: 0;
    }
}
@media screen and (max-width: 590px){
    .card{
        width: 268px;
    }
    .card.profile::before {
        height: 32px;
        left: -10px;
    }
}
@media screen and (max-width: 600px)
{
    .module-units{
        width: 100%;
    }
}
@media screen and (max-width: 640px){
    body {
        font-size: 11pt;
        line-height: 1.5em;
    }
  
}
@media screen and (max-width: 775px){
    module-unit-simple > * {
        width: 100%;
    }
}
@media screen and (max-width: 800px){
    .menu{
        visibility: collapse;
        max-height: 80vh;
        overflow-y: scroll;
        box-shadow: 0 2px 20px -5px var(--box-shadow-3);
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        overscroll-behavior: contain;
        position: absolute;
        z-index:5;
        border-right: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
    }
    .header-button.hamburger{
        visibility: visible;
    }
    #main{
        flex-direction: column;
    }
    module-units-sidebar > * {
        position: relative;
    }
}
@media (min-width: 800px){
    .menu{
        visibility: visible !important;
    }
}
@media screen and (max-width > 890px){
    .module-units{
        width: 80%;
    }
}
@media screen and (max-width: 1140px){
    .modules{
        padding: 0;
    }
}
@media screen and (max-width: 1400px){
   .module-units-2 {
        padding-right: 0;
    }
}