@media screen and (max-width: 1620px){

    #header{
        position: sticky;
        top: 0;
        z-index: 1;
    }

    #main{
        flex-direction: column;
        z-index: -10;
    }

    .menu{
        visibility: collapse;
        max-height: 80vh;
        max-width: 40ch;
        overflow-y: scroll;
        box-shadow: 0 2px 20px -5px var(--box-shadow-3);
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        overscroll-behavior: contain;
        position: fixed;
        pointer-events: all;
        z-index:10; 
        border-right: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
    }
    .header-button.hamburger{
        visibility: visible;
    }
    .module-units-2 {
         padding-right: 0;
     }
     /* module-units-sidebar > * {
        position: sticky;
        top: 0;
    } */
 }
 @media (min-width: 1621px){
    .menu{
        visibility: visible !important;
    }
}

@media screen and (max-width: 1120px){
    .modules {
        padding: 1em;
    }
    .modules .card{
        width: 280px;
    }
}
@media screen and (max-width: 1030px)
{
    module-unit-renderer .card-style-1 {
        width: 100%;
        max-width: inherit;
    }
    .module-units-3 {
        margin: 0;
    }
    .modules .card{
        width:260px;
    }
}
@media screen and (max-width: 965px)
{
    .modules .card{
        width:240px;
    }
    .card.profile::before{
        content: none;
    }
    .card.profile::after{
        content: none;
    }
}
@media screen and (max-width: 905px)
{
    .modules .card {
       width: 230px;
    }
}
@media screen and (max-width: 680px){
    .container{ 
        padding: 0;
        
    }
    .modules .container{
        max-width: 95%;
    }
}
@media screen and (max-width: 480px)
{
    .modules .card {
       width: inherit;
    }
}