@import url(fontawesome-all.min.css);

body{
  --card-hover-background: hsl(346, 89%, 53%);
  --card-hover-background-completed: hsl(120, 37%, 90%);
  --card-hover-border-completed: hsl(120, 37%, 68%);
  --card-hover-color: white;
  --card-hover-background-inactive: hsl(0, 0%, 96%);
  --background: white;
  --blue-highlight: hsl(208.2, 61.5%, 26.5%);
  --blue-highlight-light: hsl(208, 0%, 46%);
  --snippet-hover: rgb(235, 193, 10);
}

blockquote{
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 1em;
}
blockquote h1{
  padding-bottom: 1em;
}
blockquote + :first-of-type{
  font-size: 0.8em;
  font-style: italic;
}
section header {
  color: hsl(346, 89%, 53%);
  margin-bottom: 1.1em;
}
ul li p,
ol li p {
  margin: 0;
}
ul.topics
{
  list-style: none;
  font-size: 0.8em;
  margin: 0 3em 3em 3em;
}
ul.topics.semibold{
  color:rgb(26, 70, 109);

}
ul.topics .snippet{
  cursor: pointer;

}
ul.topics .snippet::after
{
  content: "";
  width: 12px;
  height: 12px;
  margin-left: .5em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: absolute;
  transform: translateY(50%);
}
ul.topics .snippet:hover{
  color: var(--snippet-hover);
}
.modules {
  border: 1px solid lightgray;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: 5px solid #f21e4e;
  padding: 2em;
  position: relative;
  margin-bottom: 3em;
}
.modules:not(.inactive){
  background: linear-gradient(to right, hsl(224, 60%, 98%), hsl(224, 56%, 98%));
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  border-color: 1px solid hsl(0, 0%, 80%);
}
.modules.inactive {
  border-left: 5px solid lightgray;
}
.modules h4 {
  line-height: 2em;
  padding-bottom: 1em;
}
.modules .row {
  gap: 10px;
}

ul.left-align {
  text-align: left;
}
ol {
  margin-bottom: 0;
}
.col-gap-3 {
  column-gap: 5em;
}
.row.vertical{
  flex-direction: column;
}
.row.left {
  justify-content: flex-start;
}
.row.nowrap {
  flex-wrap: nowrap;
}
#copyright {
  margin-bottom: 0;
  margin-top: 0;
}
#footer {
  font-size: 0.8em;
  margin-top: 1px;
  margin-bottom: 0;
}
.units-block li {
  padding: 0.7em;
  font-size: 0.8em;
  border-bottom: 1px solid lightgray;
  user-select: none;
  line-height: 1.6em;
  color: #444;
  list-style-position: outside;
}
.units-block li.active {
  background-color: rgba(189, 189, 189, 0.2);
  border-radius: 6px;
  scale: 1.05;
}
.units-block li:last-of-type {
  border-bottom: 1px solid transparent;
}
.units-block li > a {
  text-decoration: none;
  user-select: none;
  display: block;
  overflow: hidden;
}
.units-block li:hover > a {
  color: var(--card-hover-color);

}
.units-block li:hover {
  background: hsl(346, 89%, 53%);

  color: var(--card-hover-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  scale: 1.05;
  border-radius: 6px;
  cursor: pointer;
}
.units-block li:hover::marker {
  color: black;
}
.unit-content {
  margin: 2em auto;
  max-width: 95%;
  box-shadow: 5px 5px 5px 0px rgba(20, 14, 14, 0.1);
  background-color: white;
  border-radius: 12px;
  border: 1px solid lightgray;
  overflow: hidden;
}
.unit-content section {
  padding: 15px;
}
.unit-content-outer {
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}
.unit-content .nothing-here {
  margin: 5em;
  text-align: center;
}
.unit-content .nothing-here::before {
  content: "\f03a";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  display: block;
  font-size: 3em;
  margin: 0.3em;
  margin-bottom: 0.8em;
  color: hsl(346, 89%, 53%);
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  -webkit-text-stroke: 1px hsl(346, 89%, 90%);
}

.accordion-body {
  flex-grow: 0;
}
.accordion-body section + section {
  padding-top: 0;
}

.unit-content section:last-of-type {
  padding-bottom: 0;
}
.unit-content .unit-header {
  text-align: center;
  background: rgba(189, 189, 189, 0.2);
  line-height: 1.5em;
  vertical-align: middle;
  padding: 15px 0;
  color: var(--blue-highlight);
  font-size: 1.24em;
}
.reading-list p {
  font-size: 0.8em;
  margin: 0;
  border-bottom: 1px solid lightgrey;
  padding-left: 1.5em;
  text-indent: -1.5em;
}
.reading-list p:last-of-type {
  border-bottom: 1px solid transparent;
}
.reading-list:last-of-type {
  margin-bottom: 2em;
}

.band-1 {
  background-color: white;
}
.post {
  padding: 1em;
  border: 1px solid lightgray;
  border-radius: 3px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  max-width: 80ch;
  aspect-ratio: 4/3;
  overflow: hidden;
  height: 100px;
}

.post:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.post header {
  font-size: 1.2em;
  color: #444;
  line-height: 1.2em;
  top: 50%;
  text-align: center;
  user-select: none;
  cursor: pointer;
}
.post-popup {
  padding: 5em;
  z-index: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  user-select: none;
  -webkit-backdrop-filter: grayscale(50%);
  backdrop-filter: grayscale(50%);
}
.post-popup .content header {
  font-size: 1.5em;
  margin-bottom: 2em;
}
.post-popup .outer {
  padding: 3em;
}
.post-popup .content {
  border-radius: 7px;
  padding: 3em;
  max-width: 80ch;
  max-height: 70vh;
  background-color: white;
  overflow: hidden;
  z-index: 2;
  position: relative;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: auto;
  user-select: text;
  overscroll-behavior: contain;
  box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: justify;
  animation: fade-in 0.1s;
}
.post-popup .content.image-only {
  max-width: 60%;
}
.post-popup .title{
  text-align: center;
  margin-bottom: 1em;
  margin-top: 0;
  color: rgb(26, 70, 109);
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
.sidebar {
  padding: 20px;
  overflow: hidden;
}
.icon.placeholder {
  position: relative;
  display: inline-block;
  background-color: transparent;
  width: 2em;
  padding: 0.3em;
  border-radius: 3px;
  margin: 0 0 1.5em 0;
  cursor: default;
}
.icon.placeholder:before {
  font-size: 1.1em;
  line-height: 1em;
  color: #fff;
}
.icon.placeholder:after {
  content: "";
  position: absolute;
  bottom: -0.4em;
  left: 22%;
  border-top: solid 0.6em transparent;
  border-left: solid 0.6em transparent;
  border-right: solid 0.6em transparent;
}
.card {
  border: 1px solid hsl(0, 0%, 88%);
  border-radius: 6px;
  background: white;
  display: inline-block;
  width: 368px;
  aspect-ratio: 16/9;
  overflow: auto;
  text-align: left;
  position: relative;
  padding: 0.1em 1.2em;
}
.card:hover{
  cursor: pointer;
  user-select: none;
}
.card.small {
  width: 190px;
  font-size: 0.76em;
  line-height: 1.5em;
}
.card.small .dates :is(h1,h2,h3,h4){
}
.card.medium{
  width: 240px;
}
.card .click-more {
  position: absolute;
  left: 20px;
  bottom: 0;
  display: block;
  font-size: 0.8em;
}
.card .click-more:after {
  content: "\f141";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
}
.card .click-more p {
  margin: 0;
}
.card header {
  font-size: 1.2em;
  margin-bottom: 0;
}

.card.active{
  border: 1px solid hsl(0, 0%, 30%);
}

.card.active:hover {
  border: 1px solid hsl(0, 0%, 33%);
  background: var(--card-hover-background);
  box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  user-select: none;
  color: var(--card-hover-color);
}

.card.active:hover a {
  color: var(--card-hover-color);
}

.card.active:hover :is(h1, h2, h3, h4, h5, h6) {
  color: inherit;
}

.card.active:hover .dates .date.clear{
  background-color:hsl(0, 0%, 90%) !important;
  border: 1px solid hsl(0, 0%, 93%);
}

.card.active.outlined{
  border: 2px solid 
}

.card.completed header{
  font-size: inherit;
  color: inherit;
}

.card.completed:hover {
  background: hsl(0, 0%, 90%);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.09);
  cursor: pointer;
  user-select: none;
  border: 1px solid hsl(0, 0%, 83%);
}
.card.completed::after{
  content: "done";
  position: absolute;
  bottom: 10px;
  border: 1px solid var(--card-hover-border-completed);
  border-radius: 15px;
  padding: 0px 1em;
  background: var(--card-hover-background-completed);
  font-size: 0.7em;
}
.card:not(.active):not(.completed):not(.highlight):hover 
{
  background: var(--card-hover-background-inactive);
  border: 1px solid lightgray;
}

.card:not(.active):not(.completed) header,
.card:not(.active):not(.completed) p {
  color: hsl(0, 0%, 36%);
  font-size: 0.9em
}

.card.highlight:hover{
  border: 1px solid gray;
  background: hsl(346, 89%, 53%);
}
.card.highlight:hover :is(h1, h2, h3, h4){
  color: white !important;

}

.card:hover .icon.featured {
  background-color: lightgray;
}
.card:hover .icon.featured:before {
  color: darkslategray;
}
.card:hover .icon.featured:after {
  border-top: solid 0.6em lightgray;
  border-left: solid 0.6em transparent;
  border-right: solid 0.6em transparent;
}
.card:hover .icon.featured + header {
  color: darkgray;
}
.card:hover .icon.featured + header {
  color: var(--card-hover-color);
}
.card.active:hover p {
  color: var(--card-hover-color);
}
.card .icon {
  text-align: center;
}
.card > a {
  text-decoration: none;
}
.card p {
  font-size: clamp(0.6em, 0.8em, 1.1em);
  line-height: 1.5em;
  color:hsl(0, 0%, 33%);
  font-style: italic;;
}

.dates {
  padding-left: 0;
  text-align: left;
  margin: 0;
}

.dates .date.clear {
  background-color: white !important;
  border: 0;
  border-radius: 3px !important;
  color: darkgrey !important;
}

.dates .date {
  display: block;
  position: relative;
  left: 0;
  top: 1.3em;
  background-color: #d52349;
  height: 3.5em;
  text-align: center;
  color: #fff;
  line-height: 1em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0.5em 0.75em 0 1em;
}

.dates .date:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -1.2em;
  border-left: solid 1.25em #d52349;
  border-top: solid 1.8em transparent;
  border-bottom: solid 1.8em transparent;
}

.dates .date.clear:after{
  border-left: transparent !important;
}

.dates .date strong {
  display: block;
  font-size: 1.75em;
  padding-top: 0.15em;
}

.dates h3 {
  font-size: 1.1em;
}

.dates p {
  margin: 0;
}

.dates :first-child {
  border-top: 0;
  padding-top: 0;
}

.dates :first-child .date {
  top: 0;
}
.unit-card {
  border-radius: 8px;
  max-height: 110px;
  min-width: 250px;
  max-width: 250px;
  aspect-ratio: 16/9;
  border-top: 4px solid blue;
  overflow: hidden;
  box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.07);
  padding: 1em;
  margin: 10px;
  background-color: white;
  overflow: hidden;
}

.centered {
  margin: 0 auto;
}
.full-width {
  width: 100%;
}
.no-aspect {
  aspect-ratio: revert;
}
figcaption {
  font-style: italic;
  font-size: 0.8em;
  text-transform: uppercase;
  text-indent: 5em;
}
.gap-1 {
  gap: 0.7em;
}
.text-center {
  text-align: center;
}
.p-1 {
  padding: 0.7em;
}
.p-5 {
  padding: 3em;
}
.gradient-background {
  --from: #356296;
  --to: white;
  background: var(--from);
  background: linear-gradient(
    to top right,
    hsl(0, 0%, 85%) 0%,
    hsl(198, 100%, 95%) 100%
  );
}

.mw-80ch {
  max-width: 80ch;
}

.header {
  position: relative;
}

.header-back {
  width: 64px;
  height: 64px;
  left: 10px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
}

.header-back::after {
  content: "\f015";
  font-size: 2em;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}

.header-back:hover {
  background-color: hsl(0, 0%, 96%);
  border: 1px solid hsl(0, 0%, 90%);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  transition: background-color 0.1s ease-in, border 0.2s ease-in;
}

.header h1 a {
  text-shadow: 0 0 1px rgba(111, 134, 134, 0.3);
}

@keyframes play-in {
  from {
    outline: #aaa solid 3px;
    padding: 15px;
    border-radius: 2px;
    background-color: white;
    transform: scale(1.2) translateX(-80px) translateY(-10px) rotate(-25deg);
    opacity: 0;
  }

  to {
    color: hsl(346, 89%, 53%);
    opacity: 1;
    border-radius: 2px;
    outline: #aaa solid 3px;
    transform: scale(1) translateX(-15px) translateY(-15px) rotate(0deg);
    background-color: rgb(26, 70, 109);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
  }
}

@keyframes play-out {
  from {
    color: hsl(346, 89%, 53%);
    outline: #aaa solid 3px;
    transform: scale(1) translateX(-15px) translateY(-15px) rotate(0deg);
    opacity: 1;
  }
  to {
    transform: scale(1.2) translateX(15px) translateY(15px) rotate(10deg);
    opacity: 0;
  }
}
#header-thing a {
  padding: 15px;
}
#header-thing.animate-out a::before {
  animation: play-out 0.3s ease-in;
  animation-fill-mode: forwards;
  content: attr(data-hover);
  padding: 15px;
  position: absolute;
  pointer-events: none;
}

#header-thing.animate-in a::before {
  animation: play-in 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: forwards;
  padding: 15px;
  position: absolute;
  pointer-events: none;
  content: attr(data-hover);
}
.outcomes:before {
  content: "\f14e";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 2em;
  margin-right: 0.5em;
}
.activities:before {
  content: "\f00b";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 1.5em;
  margin-right: 0.5em;
}
.tags li {
  list-style-type: none;
  display: inline-block;
  margin: 4px;
  background: aliceblue;
  border: 1px solid aqua;
  padding: 0 12px;
  border-radius: 30px;
  color: black;
  font-size: 0.8em;
}
.mb-1 {
  margin-bottom: 1em;
}
.mb-4 {
  margin-bottom: 4em;
}
.m-3 {
  margin: 3em;
}
.justify {
  text-align: justify;
}
.header-with-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-32px);
  width: 80%;
  margin: 0 auto;
  max-height: 32px;
}
.header-pic {
  max-block-size: 64px;
  margin-right: 10px;
  border-radius: 32px;
  width: 64px;
  height: 64px;
  box-shadow: 6px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

.module-units {
  background: #fdfdfd;
  border-radius: 12px;
  padding: 20px 20px 30px 20px;
  border: 1px solid #dfdfdf;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.06));
  max-width: 80ch;
  margin: 0 auto;
}
.module-unit-docs {
  gap: 1em;
  align-items: center;
  font-size: 0.85em;
}
.color-8 :is(h1, h2, h3, h4) {
  color: #888;
}

.table-container{
  background-color: white;
}
.flex-table {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-rows: 100% auto;
  flex-flow: row wrap;
  border-left: solid 1px ;
}
.flex-table:first-of-type {
  border-top: solid 1px;
  border-left: solid 1px ;
}
.flex-table:first-of-type .flex-row {
 color: black;
}
.flex-row {
  text-align: center;
  padding: 0.15em;
  border-right: solid 1px;
  border-bottom: solid 1px;
  overflow: hidden;
}
.flex-table:hover {
  background-color: lavender;
}
.flex-table.header {
  font-size: 0.8em;
  background-color: hsl(208.2, 61.5%, 80%);
}
.flex-cell {
  text-align: center;
  padding: 0.5em;
  border-right: solid 1px;
}
.flex-table .flex-row img {
  cursor: pointer;
}
.flex-row > p {
  display: inline-block;
  vertical-align: middle;
}
.flex-row .centered{
  display: block;
  margin: 0 auto;
}
.flex-row.small{
  font-size: 0.9em;
}
.module-units-header{
  text-align: center;
  gap: 0.5em;
  background-color: whitesmoke;
  padding: 1em;
  margin-top: 1em;
  border: 1px solid rgba(0, 0,0,0.08);
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid var(--blue-highlight-light);
}
.module-units-header .card{
  background-color: white;
  border:1px solid hsl(0, 0%, 76%);
  width: 100px;
  font-size: 0.8em;
  padding: 10px;
  color: var(--blue-highlight);
}
.module-units-header .card:hover{
  color: var(--card-hover-background);
}
.module-units-header .card.active.outlined{
  border: 2px solid rgb(26, 70, 109);
  background-color: var(--card-hover-background);
  color: var(--card-hover-color);
}
.module-meetings{
  width: 100%;
  margin: 0 3em; /* 3em because the cards are 330px each and at most two per line, so 660px*/
}
.module-meetings header{
  margin: 0 auto;
}
.module-meetings .accordion-body{
  padding: 0.5em;
}
.hljs{
  font-family: 'JetBrains Mono';
  border-radius: 12px;
}
.assignment{
  text-align:center; 
  border:1px solid #dadada; 
  border-radius:5px;
  overflow:hidden;
  padding-bottom:1em;
  background: hsl(128, 60%, 98%);
}

.assignment-header{
  text-align: center;
  background: hsl(208, 40%, 80%);
  line-height: 1em;
  padding: 15px 0;
  color: var(--blue-highlight);
  margin: 0 0 0.6em 0;
}
.assignment .card{
  width: 300px;
  padding: 0.8em;
}
.assignment .card :is(h1, h2, h3, h4){
  font-size: 1.1em;
  color: rgb(26, 70, 109);

}

.card.profile::before{
    content: '';
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
    position: absolute;
    width: 42%;
    height: 38px;
    left: -30px;
    bottom: -2px;
    border-radius: 22px;
    margin-right: 20px;
    margin-bottom: 7px;
    filter:  brightness(110%) opacity(0.8) grayscale(20%) drop-shadow(2px 2px 4px #aaa);
    border: 1px solid;
}
.card.profile.profile1::before{
  background-image: linear-gradient(to right, #534734, #7a7b87, #8d7454, #aa8f6a, #d1c5b5), url(../css/images/EssexProfilePic_1b.png);
  background-blend-mode: overlay;
}
.card.profile.profile2::before{
  background-image: linear-gradient(to right, #147cfb, #1dd0fc,#2dabfb, #dbb4e9, #f4d1fd), url(../css/images/EssexProfilePic_2b.png);
  background-blend-mode: overlay;
}
.card.profile.profile3::before{
  background-image: linear-gradient(to right, #978d92, #d5b9b0, #e64c37, #f3624f, #f7a245), url(../css/images/EssexProfilePic_3b.png);
  background-blend-mode: overlay;
}
.card.profile.profile4::before{
  background-image: linear-gradient(to right,  #86347e, #9a5ca7, #a49cdc, #cba3d2, #f8f1f7), url(../css/images/EssexProfilePic_4f.png);
  background-blend-mode: overlay;
}